/* input component */

.editable-text-container {
    display: inline;
    position: relative;
  }

  form {
    position: relative;
    display: inline;
    flex-direction: column;
  }

  .editableText {
    background-color: transparent;
    border: none;
    font-size: 1rem;
  }

  .text-error {
    position: absolute;
    top: 16px;
    left: 0;
    color: tomato;
    margin: 0.4rem 0 0 0;
    font-weight: 600;
    text-align: left;
    font-size: 0.8rem;
  }

  .icon-container {
    position: absolute;
    right: 4px;
    top: 2px;
  }